.contenedor-menu-circular-abajo
	width: 350px
	height: 768px
	top: 0%
.menulogo
	left: 37%
.menu-logo-abajo-extendido
	left: 35% !important
.logo-texto
	width: 60%
	left: 20%
.logo-texto-lateral
	width: 65%
	left: 17.25%
	top: 75%
.menu-circular
	position: relative
.seccion-contenido
	width: auto
	margin: 0 15% 0 37%
.titulo-seccion
	width: 1100px
	margin: auto
	padding: 2rem 2rem
.linea-titulo
	width: 100%
#TuMejorVersion
	width: 30%
	bottom: 6%
#Confianza
	width: 3%
	top: 9%
	left: 4%
#Belleza
	width: 15%
#Cambios
	width: 4%
#Detalles
	width: 25%
	left: 42%