.contenedor-menu-circular
	width: 70vw
	left: 16%
.contenedor-menu-circular-abajo
	width: 100px
	height: 100px
	left: 80%
	top: 80%
	+transicionTodo(0.9s)
.contenedor-menu-circular-abajo-extendido
	width: 38%
	height: 29%
	left: 56%
	top: 65%
	+transicionTodo(0.9s)
.menulogo
	width: 170px
	height: 170px
	left: 35%
.menu-logo-abajo
	width: 100px
	height: 100px
	top: 0
	left: 0
.menu-logo-abajo-extendido
	top: 35%
	left: 33%
.logo-texto-opaco
	filter: opacity(0)
	+transicionTodo(0.9s)
.instagram-header
	width: 59%
	margin: auto
.enviar-datos
	margin: 2rem 5rem
iframe
	width: 32rem
	height: 21rem
.redes
	a
		i
			font-size: 3rem
.logo-seccion-logo
	width: 25%
	margin: auto auto
#Calidad, #Cambios, #Confianza, #Belleza, #Detalles, #Diferencia
	display: block
#TuMejorVersion
	width: 50%
#Calidad
	top: 80%
	width: 30%
	left: 60%
#Cambios
	width: 14%
	left: 80%
	top: 19%
#Confianza
	width: 10%
#Belleza
	width: 20%
	top: 50%
	left: 10%
#Detalles
	width: 52%
	left: 30%
#Diferencia
	left: 53%
	width: 8%
	top: 8%
.cirugia-seccion-item
	img
		transform: translateY(-70px)